body {
    background-image: url(background.avif);
    background-size: cover;
}
.turquoise {
    position:fixed;
    background-color: #71c9ce;
    border-radius: 30px;
    border-color: black;
    border: 2px solid;
    margin-top: 110px;
    margin-left: 110px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}
.padd {
    padding: 7px;
    font-size: 12px;
}
.btn {
    padding: 12px;
    background-color: bisque;
    margin-top: 22px;
    border-radius: 20px;
    border: black 2px solid;
}
