.header, .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1 {
    font-size: 60px;
    background: linear-gradient(to left, #aa4b6b, #3b8d99);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.inputField {
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 5px;
}

.btn {
    padding-right: 10px;
    padding-left: 10px;
    background-color: #3b8d99;
    border: none;
    margin-left: 8px;
    border-radius: 5px;
    font-size: 34px;
    color: white;
}
.question {
    border-radius: 50%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 8px;
    border: none;
    background-color: #aa4b6b;
    color:white;
    font-size: 21px;
}

body {
    background-image: url(coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #f2dcc5;
}
.bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height:70vh;
  }  
.create{
    color: #534E52;
    flex-wrap: wrap;
    font-size: 16px;
    border: black 40px;
    margin-right: 8px;
}
.LinkedIn {
    text-decoration: none;
    color: #534E52;
}
.toDoAdded {
    background-color: #aa4b6b;
    list-style-type: none;
    height: 30px;
    width: 40%;
    margin-top: 5px;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 3px;
    font-size: 20px;
}
.toDoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toDoCompleted {
    background-color: lightgrey;
    color: black;
    text-decoration: line-through;
    transition: all 2s ease;
}

.toDisplayMessage {
    font-size: 16px;
    color:white;
    background-color: #3b8d99;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

@media all and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }
    .bottom {
        justify-content: center;
    }
  .toDoAdded {
    height: fit-content;
    width: 60%;
  }

}

@media all and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }
    .bottom {
        justify-content: center;
    }

  .toDoAdded {
    height: fit-content;
    width: 60%;
  }
}
}